<h1>page 1</h1>

<button routerLink="/page-2">
  Go to page 2
</button>

<p>translation with the i18n attribute</p>
<p i18n="meaning|description@@translationWithI18nAttribute">this is a translation with the i18n attribute</p>
<p>translation with the i18n- attribute</p>
<app-component-showing-text i18n-textToShow="meaning|description@@translationWtithI18n-Attribute" textToShow="this is a translation with the i18n- attribute"></app-component-showing-text>
<p>translation with $localize</p>
<p>{{textToBeTranslated}}</p>
