<h1>page 2</h1>

<button routerLink="/">
  Go to page 1
</button>

<h2>translation with the i18n attribute</h2>
<p i18n="meaning|description@@translationWithI18nAttribute">this is a translation with the i18n attribute</p>
<h2>translation with the i18n- attribute</h2>
<app-component-showing-text
  i18n-textToShow="meaning|description@@translationWtithI18n-Attribute"
  textToShow="this is a translation with the i18n- attribute"
></app-component-showing-text>

<!--According to the principle of Angular Ivy compiler operations, translations in the template are performed only once.-->
<!--Therefore, if we want to achieve dynamic translation, we must use component code and not a template to mark text for translation.-->
<h2>translation with $localize</h2>
<p>{{textToBeTranslated}}</p>

<h2>{{ pipeTranslations['builtInPipesTitle'] }}</h2>
<p>{{ pipeTranslations['dateLabel'] }} {{ today | date:'mediumDate' }}</p>
<p>{{ pipeTranslations['timeLabel'] }} {{ today | date:'mediumTime' }}</p>
<p>{{ pipeTranslations['currencyLabel'] }} {{ 12.34 | currency }}</p>

<!--not possible-->
<h2>translation with a complex path</h2>
<p>{{complexPathTranslation}}</p>

<h2>translation with interpolation</h2>
<p>{{translationWithInterpolation}}</p>

<h2>plural translation</h2>
<p>{{0 | i18nPlural: pluralTranslation}}</p>
<p>{{1 | i18nPlural: pluralTranslation}}</p>
<p>{{2 | i18nPlural: pluralTranslation}}</p>

<h2>select translation</h2>
<p>{{'male' | i18nSelect: selectTranslationMap}}</p>
<p>{{'female' | i18nSelect: selectTranslationMap}}</p>
<p>{{'other' | i18nSelect: selectTranslationMap}}</p>
